@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Nous allons développer ensemble une application web en utilisant la technologie ASP.Net Core de Microsoft.
        Cette application aura pour but de vous permettre de consulter en temps réel, la disponibilité des vélos et places dans les stations VeloV de Lyon et son agglomération.

        Dans ce TP, vous allez pouvoir vous confronter aux points suivants :

        Créer une application web
        Enregistrer votre code sur une plateforme Git telle que Github ou Bitbucket
        Lire et enregistrer des données depuis une base SQL
        Consommer des données temps réel issues d'une API publique
        Afficher les données sous forme de tableau et de carte interactive
        Déployer votre application sur un serveur accessible en ligne
    </p>
</div>
